<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <% console.log(productData) %>


  </head>
  <body>
    <table width="800px">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Product Category</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
  </body>
</html>